.gnext-v2-other-reusable-h1-a {
  .cover-h1 {
    & * {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: unset;
      text-overflow: ellipsis;
      word-break: break-word;
      text-decoration: none;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
    h1 {
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      color: black;
      font-size: 2vw;
      font-weight: 500;
      line-height: 1.5;
      text-align: center;
      /* The skeleton Class */
      &.skeleton {
        position: relative;
        color: #e2e2e2 !important;
        line-height: 2vw !important;
        background-color: #e2e2e2 !important;
      }
      /* The moving element */
      &.skeleton::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          from(transparent),
          color-stop(rgba(255, 255, 255, 0.5)),
          to(transparent)
        );
        background: linear-gradient(
          90deg,
          transparent,
          rgba(255, 255, 255, 0.5),
          transparent
        );
        /* Adding animation */
        animation: loading 1s infinite;
      }
      /* Loading Animation */
      @keyframes loading {
        100% {
          transform: translateX(100%);
        }
      }
    }
  }
}
