<ng-container *ngIf="backend$ | async as back">
  <ng-container *ngIf="isWeb$ | async; else mobile">
    <!-- <p class="phead">
    Together We’re Safe ไม่ว่าคุณจะเดินทางเมื่อไหร่ เราก็พร้อมดูแลคุณ
  </p>
  <p class="pinfo">
    รับส่วนลดทันที 1,000 บาท ในการซื้อสินค้ายาง Bridgestone 4 เส้น ทุกรุ่นทุกขนาด <br>
    ลงทะเบียนรับสิทธิ์ส่วนลด ตั้งแต่ 25 ส.ค. – 31 ต.ค. 64 ใช้ส่วนลดได้ที่
    Cockpit
    และ A.C.T ทุกสาขา ภายใน 30 พ.ย. 64
  </p> -->
    <div [innerHTML]="back.info"></div>
  </ng-container>

  <!-- Mobile -->
  <ng-template #mobile>
    <!-- <p class="phead">
    Together We’re Safe <br />
    ไม่ว่าคุณจะเดินทางเมื่อไหร่ <br />
    เราก็พร้อมดูแลคุณ
  </p>
  <p class="pinfo" style="margin-bottom: -13%">
    รับส่วนลดทันที 1,000 บาท ในการซื้อสินค้า <br />
    ยาง Bridgestone 4 เส้น ทุกรุ่นทุกขนาด
    <br />
    ลงทะเบียนรับสิทธิ์ส่วนลด <br />
    ตั้งแต่ 25 ส.ค. - 31 ต.ค. 64 ใช้ส่วนลดได้ที่ <br />
    Cockpit และ A.C.T. ทุกสาขา ภายใน 30 พ.ย. 64
  </p> -->
    <div [innerHTML]="back.info"></div>
  </ng-template>

  <div class="cover-about">
    <mat-expansion-panel [expanded]="false" id="one">
      <mat-expansion-panel-header>
        <mat-panel-title class="panelhead">
          รายละเอียดและเงื่อนไขโปรโมชั่น
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div gnextContainer gnextPadding="0 0px">
        <div class="col" gnextMargin="0 -0px">
          <div
            gnextColumn="12,12,10"
            gnextColumnOffset="0,0,1"
            gnextPadding="0 0px"
          >
            <div class="cover-description">
              <ng-container>
                <div [innerHTML]="back.detail"></div>
                <!-- <p class="panelbody">
                1. โปรโมชั่น “Together We’re Safe ไม่ว่าคุณจะเดินทางเมื่อไหร่
                เราก็พร้อมดูแลคุณ” ลงทะเบียนเพื่อรับสิทธิ์ส่วนลด 1,000 บาท
                สำหรับซื้อยางรถยนต์ Bridgestone 4 เส้น ทุกรุ่นทุกขนาด จำนวน
                1,000 สิทธิ์
                <br />
                2. ท่านจะได้รับ SMS สิทธิ์ส่วนลด จากการลงทะเบียน
                <br />
                3. สงวนสิทธิ์เฉพาะรถยนต์พร้อมป้ายทะเบียนที่ลงทะเบียนไว้ และ
                เฉพาะลูกค้าที่มาใช้สิทธิ์ด้วยตนเองเท่านั้น (จำกัด 1 คน/1 สิทธิ์
                ต่อ 1 ทะเบียนรถยนต์) โดยแสดง บัตรประชาชน พร้อม SMS ที่ได้รับ
                ต่อพนักงาน ณ ศูนย์บริการยางรถยนต์ COCKPIT หรือ A.C.T
                เพื่อใช้ส่วนลดดังกล่าว บริษัทฯ
                ขอสงวนสิทธิ์ทำการตรวจสอบข้อมูลตามที่ท่านลงทะเบียนไว้ในเว็บไซต์
                และถือข้อมูลที่ลงทะเบียนไว้เป็นสำคัญ
                <br />
                4. ระยะเวลาการลงทะเบียนรับสิทธิ์ :
                ท่านสามารถร่วมลงทะเบียนรับสิทธิ์ดังกล่าวได้ ตั้งแต่ 25 ส.ค. – 31
                ต.ค. 64 เท่านั้น หรือจนกว่าจะเต็มครบจำนวนสิทธิ์ 1,000 สิทธิ์
                <br />
                5. ระยะเวลาการใช้สิทธิ์ : ท่านสามารถใช้สิทธิ์ดังกล่าวได้ ตั้งแต่
                วันที่ 25 ส.ค.- 30 พ.ย. 64 เท่านั้น
                <br />
                6. “สิทธิ์ส่วนลด” จะไม่สามารถเปลี่ยนเป็นเงินสดในทุกกรณี
                <br />
                7. สินค้าซึ่งได้รับส่วนลดตามโปรโมชั่นนี้
                ไม่สามารถร่วมรายการผ่อนชำระหรือโปรโมชั่นอื่นใดของธนาคารได้
                <br />
                <b style="font-weight: bold">
                  8. ขั้นตอนการ “ยืนยันสิทธิ์” (Verification)
                  จะต้องทำเมื่อท่านนำส่วนลดดังกล่าวไปใช้สิทธิ์
                  โดยกดยืนยันต่อหน้าเจ้าหน้าที่ ณ ศูนย์บริการ COCKPIT หรือ A.C.T
                  เท่านั้น หากมีการกดยืนยันสิทธิ์มาก่อน จะถือว่าสิทธิ์นั้นๆ
                  ได้ใช้ไปแล้ว และท่านไม่สามารถนำส่วนลดนี้มาเรียกร้องสิทธิ์ใดๆ
                  จากบริษัทฯ ได้อีก
                </b>
                <br />
                9.
                เมื่อท่านใช้สิทธิ์แล้วจะไม่สามารถลงทะเบียนใหม่หรือใช้สิทธิ์ซ้ำได้อีก
                <br />
                10. หากบริษัทฯ พบว่า ข้อมูลการลงทะเบียนของท่านไม่ถูกต้อง
                หรือไม่ตรงกับความเป็นจริง บริษัทฯ
                ขอสงวนสิทธิ์ในการตัดสิทธิ์การรับส่วนลดหรือสิทธ์การเข้ารับบริการดังกล่าวทันที
                <br />
                11. กรุณาตรวจสอบกับสาขาก่อนเข้ารับบริการ
                เงื่อนไขรายการส่งเสริมการขายเป็นไปตามที่บริษัทฯ กำหนด
                <br />
                12. บริษัทฯ ขอสงวนสิทธิ์ในการเปลี่ยนแปลงส่วนลด/ เงื่อนไข
                โดยมิต้องแจ้งให้ทราบล่วงหน้า
                <br />
                13. บริษัทฯ จัดเก็บข้อมูลส่วนบุคคลจากการลงทะเบียนของท่าน
                เพื่อวัตถุประสงค์ในการรับส่วนลดนี้
                และการประชาสัมพันธ์ข้อมูลการตลาด การโฆษณาและการส่งเสริมการขาย
                ที่เกี่ยวข้องกับผลิตภัณฑ์ และ/หรือ บริการ รวมถึงการประมวลผล
                วิเคราะห์ วางแผนทางการตลาด เพื่อการปรับปรุงผลิตภัณฑ์และบริการใดๆ
                โปรดศึกษารายละเอียดที่
                <a href="https://cockpit.co.th/privacy" style="color: #919191;">https://cockpit.co.th/privacy</a>
              </p> -->
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</ng-container>
